.titulo {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 20px; /* 55.556% */
  margin-top: 135px;
  height: 51px;
}

.contenedorDatos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contra {
  color: #6750A4;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; /* 166.667% */
  margin-left: 171px;
}

.contenedorDatos2 {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  margin-left: 44px;
}

.crear {
  color: #6750A4;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px; /* 166.667% */
  margin-right: 20px;
}